.emphasis {
    background-color: #fd5821;
}
.gray {
    background-color: #f2efe7;
}
.dark {
    background-color: #45503b;
}
.mint {
    background-color: #c9d5b5;
}
.sunset {
    background-color: #f5c78e;
}
