
.mapboxgl-popup-content {
    background-color: #c9d5b5;
    border: 1px solid black;
    font-family: 'Barlow', sans-serif;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #c9d5b5;
}