* {
    font-size: 1em;
}

body {
    background-color:#f2efe7;
    font-family: 'Barlow', sans-serif;
}

a[href] {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.nav-link {
    color:#f5c78e;
    font-weight: bolder;
}

.navbar-toggler {
    color:#c9d5b5;
    border-color:#c9d5b5;
    border-width: 3px;;
}

.btn-primary {
    color:#45503b;
    background-color:#fd5821;
    border-color:#f5c78e;
}
.btn:hover {
    color:#45503b;
    background-color:#c9d5b5;
    border-color:#c9d5b5
}
.btn:active {
    color:#c9d5b5;
    background-color:#45503b;
    border-color:#45503b;
}

.btn-outline-secondary {
    color: #45503b;
    background-color: #f5c78e;
    border-color:#f5c78e;
    font-weight: bolder;
}

.navbar {
    color:#f5c78e;
    background-color:#45503b;
}

#navLogo { 
    height: 70px;
    width: auto;
    max-width: 100%;
}

.navbar-brand {
    color:#c9d5b5;
}

.navbar-brand:hover {
    color:#fd5821;
}

.navbar-brand:active {
    color:#f5c78e;
}

.navbar-collapse {
    list-style-type: none;
}

.user {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 35px;
}

#name-goes-here { 
    font-size: large;
    margin-left: 10px;
}

#email-goes-here { 
    font-size: large;
    margin-left: 10px;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    min-width: 700px;
    padding-right: 1rem;
    background-color: white;
    border-radius: 30px;
}

.search-box input {
    padding: 1.5rem;
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    outline: 0;
}

.search-box i {
    font-size: 1.3rem;
    cursor: pointer;
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}