body {
    background-color:#f2efe7;
}

.btn-primary {
    color:#45503b;
    background-color:#fd5821;
    border-color:#f5c78e;
}
.btn:hover {
    color:#45503b;
    background-color:#c9d5b5;
    border-color:#c9d5b5
}
.btn:active {
    color:#c9d5b5;
    background-color:#45503b;
    border-color:#45503b;
}

.btn-outline-secondary {
    color: #45503b;
    background-color: #f5c78e;
    border-color:#f5c78e;
}