@media (min-width: 350px) and (max-width: 576px) {
    .custom-navbar {
        width: 100%;
    }

    p.navbar-brand {
        margin-top: 20px;
    }

    .navbar-brand {
        font-size: 6vw;
    }

    #logout_btn {
        margin-left: 80vw;
    }

    #carouselExampleDark {
        
    }
}